/* Navigation Bar */
.top-header {
	width: 100%;
	height: 10%;
	position: fixed;
}
.navigation{
	width: 100%;
	height: 100%;
}
.navigation_link, .title{
	color: black;
}

/* Video Cover */
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background: url('./Fade-To-Black/Snapshots/Fade-To-Black.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}